@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Overlock&family=Work+Sans:wght@700&display=swap');

* {
  color: #000;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}

#app {
  width: 100%;
  height: 100vh;
  font-weight: normal;
}

#main-container{
  height: 100%;
}

#singlepost-container{
  height: auto;
}

#left-container, #right-container{
  overflow-y:hidden;
}

.homepage-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../background.jpg');
  background-size: cover;
}

.homepage-title {
  font-size: 15vw;
  font-style: normal;
  font-weight: 600;
  font-family: 'Work Sans';
  color: #FFF;
}

.homepage-text {
  width: 75%;
  font-family: 'Overlock';
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 300;
  margin-top: -50px;
  color: #FFF;
}

.homepage-button{
  font-family: 'Overlock';
  margin-top: 25px;
  background-color: transparent;
  border-color: #FFF;
  border-radius: 0px;
  border-width: 4px;
  color: #FFF;
  overflow-y: hidden;
}

.homepage-button:hover{
  background-color: #FFF;
  border-color: #FFF;
  color: #F00
}

/*normal navbar*/

.navbar{
  margin-left: 3vw;
  margin-right: 3vw;
  height: 75px;
}

.navbar-logo{
  color: #F00;
  padding-left: 15px;
  font-family: 'Work Sans';
  font-size: 30px;
}

.navbar-right{
  color: #000;
  font-family: 'Work Sans';
  font-size: 20px;
}

.right-item{
  margin-right: 25px;
  padding: 0px 20px;
}

.navbar-right:hover{
  color: #F00;
}

/*hamburger*/

.navbar-2{
  display: none;
  margin-left: 3vw;
  margin-right: 3vw;
}

.nav-container .navbar-brand{
  margin-top: 7.5px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 34px;
  width: 40px;
  top: 25px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

/*Lines of the hamburger*/
.nav-container .hamburger-lines {
  display: block;
  height: 34px;
  width: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Styles for hamburger lines*/
.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: red;
}

/*Length of animation*/
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

/*Menu items styles and transforming action*/
.navbar-2 .menu-items {
  margin-top: 16.5px;
  position: fixed;
  padding-top: 150px;
  background: #FFF;
  height: 100vh;
  width: 93.9%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  z-index: 1;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(50deg) 
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-50deg) 
}

.nav-container input[type="checkbox"]:checked~.logo {
  display: none;
}

.home-container{
  height: 100%;
  background-color: #D1D0D0;
}

.main-container{
  margin-top: 10px;
  margin-left: 3vw;
  margin-right: 3vw;
  background-color: #FFF;
  height: 100%
}

.main-container::-webkit-scrollbar{
  display: none;
}

.test-container::-webkit-scrollbar{
  display: none;
}

.test-container{
  height: 100%;
  overflow-y: hidden;
}

/* *::-webkit-scrollbar{
  display: none;
} */

.latest{
  color:#1E1E1E;
  font-family: 'Work Sans';
  font-size: 40px;
  font-weight: 700;
}

.metadata{
  font-size: 20px;
  font-weight: normal;
  font-weight: 700;
  font-family: 'Work Sans';
}

.date{
  font-size: 15px;
  color: #827E7E;
  font-family: 'Overlock';
}

.metadata-container{
  display: flex;
  width: 75%;
}

.metadata-text{
  flex: 1;
  display: flex;
  align-items: flex-end;
  color: #1E1E1E;
}

.preview-image{
  width: 90%;
  height: 65%;
}

.preview-title{
  color: #000;
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 2vh;
}

.preview-content{
  color: #000;
  font-family: 'Overlock';
  font-weight: 400;  
  width: 90%;
  margin-bottom: 1vh;
}

.read-more:hover{
  background-color: #F00;
  color: #FFF;
  border-color: #F00;
}

.read-more{
  background-color: #FFF;
  border-color: #000;
}

.left{
  padding-left: 4vw;
  padding-top: 8vh;
}

.right{
  padding-top: 19vh;
  margin-left: -25px;
}

.about-image{
  height: 80%;
  padding-left: 7vw;
}

.about-text{
  color: #000;
}

.about-title{
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: 40px;
}

.about-text{
  padding-top: 3vh;
}

.left-about{
  padding-left: 2vw;
  padding-top: 10vh;
}

.right-about{
  padding-top: 10vh;
}

.WIP{
  color: #000;
  text-align: center;
  font-size: 60px;
  font-family: 'Work Sans';
}

.wip-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title:not(:last-child) {
  margin-bottom: 1vh;
  font-size: 40px;
  font-family: 'Work Sans';
  text-align: center;
  overflow-y: hidden;
}

.card .media:not(:last-child) {
  margin-bottom: 0;
}

.author{
  font-size: 20px;
  font-family: 'Overlock';
  text-align: center;
}

.content{
  padding-top: 1vh;
  text-align: center;
  font-family: 'Overlock';
  font-size: 17px;
}

.image{
  width: 70%;
  height: 50%;
}

.card-content{
  padding-top: 1vh;
}

.card-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-title, .single-author, .single-date, .single-time{
  text-align: center;
}

.image-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-image{
  width: 65%;
  height: 80vh;
  padding-top: 4vh;
}

.single-title{
  font-family: 'Work Sans';
  font-size: 40px;
  font-weight: 700;
}

.single-author{
  font-family: 'Overlock';
  font-size: 20px;
}

.single-time{
  font-family: 'Overlock';
  font-size: 15px;
  color: #827E7E;
}

.single-container{
  margin-left: 50px;
  margin-right: 50px;
}

.single-content{
  margin-top: 2vh;
  padding-left: 175px;
  padding-right: 175px;
}

@media(max-width: 1360px){
  .metadata-container{
    width: 95%;
  }
}

@media(max-width: 1030px){
  .homepage-text{
    margin-top: 0px;
  }
  .navbar-2{
    display: block;
  }
  .navbar-1{
    display: none;
  }
  .single-image{
    width: 75%;
  }
}

@media(max-width: 850px){
  .homepage-text{
    font-size: 3vw;
  }
  .single-content{
    padding: 0;
  }
}

@media(max-width: 770px){
  .main-container{
    height: auto;
  }
  .navbar-2 .menu-items{
    width: 95%;
  }
  .about-text{
    padding-top: 0;
  }
  .latest, .metadata-text, .preview-content, .preview-title{
    text-align: center;
  }
  .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .metadata-container{
    width: 100%;
    display: block;
    text-align: center;
  }
  .metadata-text{
    display: block;
  }
  .preview-image{
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .preview-content{
    width:100%
  }
  .right{
    padding-top: 0;
    margin: 0;
  } 
  .about-image{
    padding: 0;
  }
  .right-about{
    padding-top: 0;
  }
  .single-image{
    width: 100%;
    height: 40vh;
  }
}

@media(max-width: 500px){
  .homepage-title{
    font-size: 18vw;
  }
  .single-container{
    margin: 0px 20px;
  }
}

@media(max-width: 450px){

  .right-about{
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
